 /* 
 Name: Aleena Siddiqui 
 Date created: 9/18/2025
 Date last edited: 12/06/2025
 Version: 1.0
 Description: Homework 4 CSS 
 */ 
 
 header { 
    position: sticky;
    top: 0;
    width: 100%; 
    background-color: rgba(148, 169, 190, 0.4); 
    transition: background-color 0.4 easy-in-out;
    z-index: 1000;
} 

header.scrolled {
   background-color: rgba(148, 169, 190, 0.4);
   opacity: 1.0;
}

body{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: rgb(189, 212, 234); 
    margin: 0; 
    height: 100%; 
    min-height: 100vh;
    } 
    
form {   
     margin: 0 auto;
    } 
    
h1, h2 { 
    font-family: "Copperplate", fantasy; 
    font-weight: normal; 
    flex-grow: 1; 
    } 

main { 
    text-align: center; 
    font-family: "Copperplate", fantasy; 
    font-weight: normal; 
    flex-grow: 1; 
    } 
    
.image { 
    text-align: left; 
    } 

.td1 { 
    font-family: "optima", sans-serif; 
    font-weight: bold; 
    } 
    
th { 
    text-align: center; 
    font-family: "optima", sans-serif; 
    font-weight: bold; 
    } 

footer { 
        position: flex; 
        bottom: 0; 
        width: 100%; 
        background-color: rgb(148, 169, 190); 
        height: 2.5 rem; 
        } 
        
#footer { 
        text-align: left; 
        font-family: "optima", sans-serif; 
        font-weight: normal; 
        margin-right: 10px; 
        } 
        
label { 
    text-align: right; 
    font-family: "optima", sans-serif; 
    font-weight: normal; 
    } 
    
input { 
        text-align: left; 
        font-family: "optima", sans-serif; 
        font-weight: normal; 
        } 

textarea { 
            text-align: left; 
            font-family: "optima", sans-serif; 
            font-weight: normal; 
            } 

#today { 
        text-align: left; 
        font-family: "optima", sans-serif; 
        font-weight: normal; 
        } 

p { 
    text-align: left; 
    font-family: "optima", sans-serif; 
    font-weight: normal; 
    }

.error {
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 15px;
    font-family: "optima", sans-serif;
    font-weight: normal;
    
}

.pwrd-message {
    min-height: 20px;
    font-size: 15px;
    font-family: "optima", sans-serif;
    font-weight: normal;
    color: red;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    min-width: 250px;
}

#review {
    margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color: rgb(148, 169, 190);
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: black;
}

td.outputdata {
    width: 500px;
    background-color: rgb(148, 169, 190);
    padding: 10px;
    border-spacing: 2px;
}

/*alert box styling*/
#alert-box {
 display: none;
 position: fixed;
 z-index: 9999;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(148, 169, 190);
}

#alert-content {
 background-color: white;
 border-radius: 10px;
 width: 300px;
 height: 100px;
 margin: auto;
 margin-top: 20%;
 padding: 30px;
 text-align: center; 
 height: auto;
}

#alert-content h4 {
 margin-top: 20%;
 font-size: 20px;
 text-align: center;
 font-family: "optima", sans-serif; 
 font-weight: normal;  
}

 #close-alert {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    color: rgb(148, 169, 190);
    border-color: rgb(148, 169, 190);
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
  
    margin-top: 20px;
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

/* iframe styling */
.iframe-container {
    position: absolute;
    top: 550px;
    right: 150px;
    width: 300px;
    height: 200px;
}

.frame {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
